body {
    background-color: #10141E;
}

div {
    display: flex;
    text-align: center;
    background-color: #161D2F;
}

p {
    color: #FFFFFF;
    font-style: Outfit Light;
    font-size: 32px;
}